.subBar div {
	border-bottom: 2px solid #CCCCCC;
}

.subBar div h2 {
	padding-left: 70px;
}

/* weather donut stylings */
#weather-container {
	margin-top: 30px;
} 

.weather-row {
	margin-bottom: 30px;
	border-bottom: 2px solid #CCCCCC;
}

.weather-row:last-child {
	margin-bottom: 0px;
}

.weather-text {
	font-size: 30px;
	line-height: 30px;
}

/* metrics map stylings */
mapBackground {
	fill: none;
	pointer-events: all; 
	color: white;
}

#states {
	fill: #999999;
	stroke: #fff;
	stroke-width: 1.5px;
}

#states .active {
	fill: orange;
}

/* arc stylings */
.arc path {
	stroke: $fff;
}

/* histogram */
rect {
  fill: steelblue;
  stroke: white;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}