/* metrics map stylings */
mapBackground {
	fill: none;
	pointer-events: all; 
	color: white;
}

#states {
	fill: #999999;
	stroke: #fff;
	stroke-width: 1.5px;
}

#states .active {
	fill: orange;
}

/* arc stylings */
.arc path {
	stroke: $fff;
}

/* bar graph stylings */
/*.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}*/


/* histogram */
rect {
  fill: steelblue;
  stroke: white;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}